<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>순서</th>
            <th>사명</th>
            <th>연 평균 매출액</th>
            <th>영업 이익률</th>
        </tr>
        <tr>
            <td>1</td>
            <td>삼성</td>
            <td>5조</td>
            <td>16.5%</td>
        </tr>
    </table>
    <a href="/">index</a>
</body>
</html>