<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<body>
    <h1>Index</h1>
    <table border="1">
        <tr>
            <th>페이지명</th>
            <th>페이지 링크</th>
        </tr>
        <tr>
            <td>삼성 매출표</td>
            <td><a href="/colxrow/">colxrow</a></td>
        </tr>
    </table>
   
    <h1>
        url get
    </h1>
    <form action="/second/" method="get">
        <input type="text" name="id">
        <input type="password" name="pass">
        <input type="submit">
    </form>

    <h1>
        url pos1
    </h1>

    <form action="/third/" method='post'>
        <input type="text" name="id">
        <input type="password" name="pass">
        <input type="submit">
    </form>

</body>
</html>