<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>국내 대형 IT기업 현황</title>
</head>
<body>
    <h1>국내 대형 IT기업 목록</h1>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>회사명</th>
            <th>설명</th>
            <th>주가현황</th>
        </tr>
        <tr>
            <td>1</td>
            <td>삼성</td>
            <td>국내최대 대기업</td>
            <td><a href="/samsung/">링크</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>카카오</td>
            <td>국내 메신저앱 독과점</td>
            <td><a href="/kakao/">링크</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>네이버</td>
            <td>국내 최대 포털사이트</td>
            <td><a href='/naver/'>링크</a></td>
        </tr>
    </table>
    <a href="/ITindex/">신규 IT 지수 현황</a>

</body>
</html>