<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>네이버 주가 현황</h1>
    <table border="1">
        <tr>
            <th>고가</th>
            <th>저가</th>
            <th>신규IT지수</th>
        </tr>
        <tr>
            <td>875500</td>
            <td>553000</td>
            <td>158.318</td>
        </tr>
    </table>
    <a href="/">되돌아가기</a>
</body>
</html>